/* navbar*/
.navbar {
    background-color: #273A40;
}


/* Links inside the navbar */
.navbar a {

    color: white;
}

.btn-size{
    background: #273A40;
    color: white;
}

.btn-size.active{
    background: #444;
}
/* size of font selection css end*/

/* shurui edits for size change functionality to work: */

.right {
    background-color: #3CAAB6;
}


input{
    background-color: #FFFFFF;
    border: 1px solid #3CAAB6;
    color: #3CAAB6;

}



.cart-item {
    background-color: white; 
}

/* text, font */



.cart-h2 {

    color: black;
}



/* button stylings */

button {
    background-color: #383838;
    color: white;
}

button:hover {
    opacity: 0.7;
}

.delete {
 
    border-color: #FFF4F9;
    color: #FFF4F9
}

.delete:hover {
    opacity: 0.7;
}

.confirm {
    background-color: #273A40;
    color: white;
 
}

.cart {
    background-color: #383838;
    border-color: #383838;
    color: white;
  
}

.cart:hover {
    background-color: #FFF4F9 !important;
    border-color: #FFF4F9 !important;
    color: #383838 !important;
}

#google_translate_element select{
    background:#273A40;
}

.themes {
    background-color: #273A40;

  }

  .themes a:hover {
    background: #3CAAB6;
    color: white;
  }

.side-panel {
    background-color: #3CAAB6;
}

.coffee-product
{
    border-color: #3CAAB6;
}

.addOnOption:hover {
    opacity: 0.7;
}

.right{
    background-color: #226067;
}