.navbar {
    background-color: #3C3638;
  }
  
/* Links inside the navbar */
.navbar a {

    color: white;

}

/* Change background on mouse-over */
.navbar a:hover {
    color: #715E51;
}


.btn-size{

    background: #3C3638;
    color: white;

}

.btn-size.active{
    background: #444;
}
/* size of font selection css end*/


button {   
    background-color: #715E51;   
    color: white;   

    }   
  
input[type=text], input[type=password] {   


    border: 2px solid #715E51;   

}  

#google_translate_element select{
    background: #3C3638;

}
    

.themes {
    background-color: #3C3638;
  }

  .themes a:hover {
    background: #AF9690;
    color: white;
  }

.skip-link {
    display: none;
}